@{
   ViewData["Title"] = "References";
}

<div class="text-center">
    <h1 class="display-4">References</h1>
    <p>Links to online and print media on the subject</p>

    <div><a href="/References/OnlineMedia"> Online Media</a></div>

    <div><a href="/References/PrintMedia"> Print Media</a></div>



       <!-- <a asp-controller="OnlineMedia" asp-action="OnlineMedia">Online Media</a>

        <a asp-controller="PrintMedia" asp-action="PrintMedia">Print Media</a>

        -->



</div>