@{
   ViewData["Title"] = "References";
}

<div class="text-center">
    <h1 class="display-4">References</h1>
    <p>Links to online and print media on the subject</p>

    <ul>
        <li>
            <a asp-controller="OnlineMedia" asp-action="OnlineMedia">Online Media</a>
        </li>
        <li>
            <a asp-controller="PrintMedia" asp-action="PrintMedia">Print Media</a>
        </li>
        
    </ul>


</div>