@{
    ViewData["Title"] = "OnlineMedia";
}

<div class="text-center">
    <h1 class="dislpay-4"> Online Media for Reference</h1>

    <p>
        Links to online media related to the history of horror stories will go here.
    </p>
</div>
