@{
    ViewData["Title"] = "PrintMedia";
}

<div class="text-center">
    <h1 class="dislpay-4"> Print Media for Reference</h1>

    <p>
        Links to books and or journals about the history of the horror story will go here.
    </p>
</div>
