@{
    ViewData["Title"] = "Forum";
}

<div class="text-center">
    <h1 class="dislpay-4"> Forum for Discussion</h1>

    <p>
        A forum for people to talk about their favorite scary stories, their opinions on what does or doesn't work,
        and sharing their own writing attempts. 
    </p>
</div>

