@{
   ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">A History of the Horror Story</h1>
    <p>The origins of our fascination with the Unknown</p>

    <ul>
        <li>
            <a asp-controller="Overview" asp-action="Overview">Overview</a>
        </li>
        <li>
            <a asp-controller="Forum" asp-action="Forum">Forum</a>
        </li>

    </ul>

    

    

</div>
