
@{
    ViewData["Title"] = "Overview";
}

<div class="text-center">
    <h1 class="dislpay-4"> Overview of Horror Story History</h1>

    <p>
        A simplified explanation of the different kinds of horror stories and their origins.
    </p>
</div>
