@{
   ViewData["Title"] = "Timeline";
}

<div class="text-center">
    <h1 class="display-4">TimeLine</h1>

    <p>To Be Finished: TimeLine of Noteable Works in the genre</p>

    <a asp-action="Quiz">Take a short quiz</a>

</div>
