@model QuizVM
@{
    ViewData["Title"] = "Horror Quiz";
}

<div>
    <h1 class="display-4 text-center">Horror Quiz</h1>
    <form method="post" class="container">

        <label asp-for="UserAnswer1" class="control-label col-sm-8 mb-2">What novel, published in 1764, is often considered the first Gothic horror?</label>
        <input asp-for="UserAnswer1" type="text" class="form-control pb-1" />
        <strong><p>@Model?.RightWrong1</p></strong>
        <br />

        <label asp-for="UserAnswer2" class="control-label col-sm-8 mb-2">How old was Mary Shelly when she wrote Frankenstein?</label>
        <input asp-for="UserAnswer2" type="number" class="form-control pb-1" />
        <strong><p>@Model?.RightWrong2</p></strong>
        <br />

        <p class="row col-sm-8 mb-2">The first published story to successfully use the myth of vampires was 'The Vampyre'</p>
        <div class="row">
            <label for="true" class="col-1">True</label>
            <input asp-for="UserAnswer3" id="true" type="radio" value="true"  />
        </div>
        <div class="row">
            <label for="false" class="col-1">False</label>
            <input asp-for="UserAnswer3" id="false" type="radio" value="false"  />
        </div>
        <strong><p>@Model?.RightWrong3</p></strong>

        <br />
        <input type="submit" class="form-control btn btn-outline-info" />
    </form>
</div>
