@model Forum
@{
    ViewData["Title"] = "Forum";
}

<div class="text-center jumbotron">
    <div class="container">
        <h1> Forum for Discussion</h1>
        <p>
            A forum for people to talk about their favorite stories, themes, authors, and opinions.
        </p>
    </div>
</div>

<div class="form-group">
    <div asp-validation-summary="All"></div>
    <form method="post" class="container">
        <div class="row">
            <label asp-for="PageName" class="control-label col-sm-2">Page Name:</label>
            <input asp-for="PageName" class="form-control col-sm-8 mb-2" />
            <span asp-validation-for="PageName"></span>
        </div>
        <div class="row">
            <label asp-for="PageRating" class="control-label col-sm-2">Rating:</label>
            <input asp-for="PageRating" class="form-control col-sm-5 mb-2" />

        </div>
        <div class="row">
            <label asp-for="PostText" class="control-label col-sm-2">Post:</label>
            <input asp-for="PostText" class="form-control col-sm-10 mb-2" style="height:300px" />
            <span asp-validation-for="PostText"></span>
        </div>
        <div class="row">
            <label asp-for="PostCreator.Name" class="control-label col-sm-2">Written By:</label>
            <input asp-for="PostCreator.Name" class="form-control col-sm-8 mb-2" />
        </div>

        <div class="container pt-4">
            <button type="submit" class="btn btn-dark">Post Message</button>
        </div>
    </form>

    <div><a href="/Home/ForumPosts"> View Posts Here</a></div>
</div>


    
