@{
   ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">A History of the Horror Story</h1>

    <p>
        Horror, whatever scares you, is a personal thing. What gives you chills might
        send another person to sleep. But whether it's supernatural or based in reality,
        the things that scare us all have one thing in common: the anxiety of the Unknown
        paired with the human Imagination.
        <br><br>
        What waits in the dark. Outside our locked door. In an envelope unopened and marked
        'Passed Due'. The Ghost Story. The Urban Legend. Psychological Torment. A hundred other
        flavors of Scary. They all have roots in folktales, diverse cultures sharing themes.
        <br><br>
        Let's explore them.
    </p>

    <div><a href="/Home/Overview"> Overview </a></div>

    <div><a href="/Home/Forum"> Forum</a></div>

    <!--
            <a asp-controller="Overview" asp-action="Overview">Overview</a>
  
            <a asp-controller="Forum" asp-action="Forum">Forum</a>
        --> 


</div>
